$font-color: #555555;

body, html, #app, .app {
    padding: 0;
    margin: 0;
    background-color: #fff;
    text-align: center;
}
h1 {
    font-size: 10em;
    margin-top: 0;
}
.topBar {
     padding: 5px;
     background-color: #FFF;
 }
.navBar, .userBar {
    &__link {
        display: flex;
        margin: 0;
        li {
            margin: 10px;
            list-style-type: none;
            font-size: 17px;
            a {
                text-decoration: none;
                color: #555555;
            }
            .router-link-exact-active {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
    nav li:hover,
    nav li.router-link-active,
    nav li.router-link-exact-active {
        background-color: indianred;
        cursor: pointer;
    }
}
.navBar {
    float:left;
}
.userBar {
    float:right;
}
button {
    padding: 10px;
    background-color: #FFF;
    border: 1px solid $font-color;
    color: $font-color;
    cursor: pointer;
    outline: none;
    width: 200px;
}
button:hover {
    background-color: #000;
    color: #FFF;
}

