// Define variable defaults
$body-bg: #000;
$body-color: #111;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
    margin: 0;
    background: #abdde5;
}
li {list-style: none;}
